<div class="footer">
  <div class="left-side">
    <p>Copyright 2023</p>
  </div>
  <div class="right-side">
    <form action="reset-data">
      <button id="reset-button" value="submit">Clear all tasks!</button>
    </form>
  </div>
</div>
